<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Questions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>All Questions</h1>
        <ul class="list-group">
            {% for question in questions %}
                <li class="list-group-item">{{ question[1] }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>